{{- define "homelab-core.operator" -}}
{{- $name := first . -}}
{{- $root := last . -}}
{{- $global := $root.Values.global -}}
{{- $operator := index $root.Values.operators $name -}}
{{- $syncPolicy := default $global.syncPolicy $operator.syncPolicy -}}
{{- if $operator.enabled -}}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: {{ $operator.namespace }}
    server: https://kubernetes.default.svc
  project: {{ $global.project }}
  source:
    repoURL: {{ $operator.repoURL }}
    targetRevision: {{ $operator.version }}
    {{- if $operator.chart }}
    chart: {{ $operator.chart }}
    {{- end }}
    {{- if $operator.path }}
    path: {{ $operator.path }}
    {{- end }}
    {{- if $operator.values }}
    helm:
      values: |
        {{- $operator.values | toYaml | nindent 8 }}
    {{- end }}
  syncPolicy:
    {{- toYaml $syncPolicy | nindent 4 }}
  {{- if $operator.ignoreDifferences }}
  ignoreDifferences:
    {{- toYaml $operator.ignoreDifferences | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
