---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: "{{ .Values.project }}"
  source:
    repoURL: oci://quay.io/jetstack/charts/cert-manager
    path: .
    targetRevision: 1.19.2
    helm:
      values: |
        crds:
          enabled: true
        {{- if or .Values.certManager.dns01RecursiveNameservers .Values.certManager.dns01RecursiveNameserversOnly }}
        extraArgs:
          {{- if .Values.certManager.dns01RecursiveNameserversOnly }}
          - --dns01-recursive-nameservers-only
          {{- end }}
          {{- if .Values.certManager.dns01RecursiveNameservers }}
          - --dns01-recursive-nameservers={{ join "," .Values.certManager.dns01RecursiveNameservers }}
          {{- end }}
        {{- end }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
