---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-operator
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: "{{ .Release.Namespace }}"
    server: https://kubernetes.default.svc
  project: "{{ .Values.project }}"
  source:
    repoURL: https://mortenolsen.pro/homelab-postgres-operator/
    targetRevision: 0.0.11
    chart: postgres-operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true

