{{- if .Values.resources.authentik.enabled -}}
{{- $auth := .Values.resources.authentik -}}
{{- $global := .Values.global -}}
apiVersion: postgres.homelab.mortenolsen.pro/v1
kind: PostgresDatabase
metadata:
  name: authentik-db
  namespace: {{ .Release.Namespace }}
spec:
  clusterRef:
    name: postgres
    namespace: {{ .Release.Namespace }}
---

apiVersion: authentik.homelab.mortenolsen.pro/v1alpha1
kind: AuthentikServer
metadata:
  name: authentik
  namespace: {{ .Release.Namespace }}
spec:
  postgresHostSecretRef:
    name: authentik-db-connection
    namespace: {{ .Release.Namespace }}
    key: host
  postgresUserSecretRef:
    name: authentik-db-connection
    namespace: {{ .Release.Namespace }}
    key: user
  postgresDatabaseSecretRef:
    name: authentik-db-connection
    namespace: {{ .Release.Namespace }}
    key: database
  postgresPasswordSecretRef:
    name: authentik-db-connection
    namespace: {{ .Release.Namespace }}
    key: password
  host: {{ $auth.subdomain }}.{{ $global.domain }}

---
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: "authentik-public"
  namespace: "{{ .Release.Namespace }}"
spec:
  gateways:
    - "{{ .Release.Namespace }}/public"
  hosts:
    - "{{ $auth.subdomain }}.{{ $global.domain }}"
  http:
    - route:
        - destination:
            host: "authentik"
            port:
              number: 9000

---
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: "authentik-private"
  namespace: "{{ .Release.Namespace }}"
spec:
  gateways:
    - "{{ .Release.Namespace }}/private"
  hosts:
    - "{{ $auth.subdomain }}.{{ $global.domain }}"
  http:
    - route:
        - destination:
            host: "authentik"
            port:
              number: 9000

{{- end }}
