{{- if .Values.resources.certIssuer.enabled -}}
{{- $global := .Values.global -}}
{{- $issuer := .Values.resources.certIssuer -}}
{{- $email := $global.email | default (printf "admin@%s" $global.domain) -}}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: cloudflare-dns
  namespace: "{{ .Release.Namespace }}"
spec:
  acme:
    {{- if eq $global.acme "stage" }}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    {{- else }}
    server: https://acme-v02.api.letsencrypt.org/directory
    {{- end }}
    email: {{ $email }}
    privateKeySecretRef:
      name: cloudflare-dns-issuer-key
    solvers:
      - dns01:
          cnameStrategy: Follow
          cloudflare:
            {{- if $issuer.cloudflare.enabled }}
            apiTokenSecretRef:
              name: cloudflare-api-token
              key: CLOUDFLARE_API_TOKEN
            {{- end }}
{{- end }}
