---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: "istio-ingress"
    server: https://kubernetes.default.svc
  project: "{{ .Values.project }}"
  source:
    repoURL: https://istio-release.storage.googleapis.com/charts
    targetRevision: 1.28.2
    chart: gateway
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true

