{{- if .Values.resources.postgresCluster.enabled -}}
---
apiVersion: postgres.homelab.mortenolsen.pro/v1
kind: PostgresCluster
metadata:
  name: postgres
  namespace: {{ .Release.Namespace }}
spec:
  host:
    value: postgres-cluster-rw.shared.svc.cluster.local
  user:
    valueFrom:
      name: postgres-cluster-app
      key: user
  password:
    valueFrom:
      name: postgres-cluster-app
      key: password
{{- end }}
