apiVersion: v1
kind: Pod
metadata:
  name: runner
  namespace: {{ .Release.Namespace }}
  labels:
    app: runner
spec:
  containers:
  - name: ubuntu
    image: ubuntu:latest
    command: ["sleep", "infinity"]
    resources:
      requests:
        memory: "128Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "500m"
